@model DigitalCallCenterPlatform.Models.BackofficeDesksViewModel

@{
    ViewBag.Title = "Desks";
}

<h2>Desks</h2>

<hr />
<div class="row content" style="background:white;">
    <div class="col-sm-9 text-left">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Client IDs
                </th>
                <th>
                    Desks
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model.BackofficeDesksList)
            {
                <tr style="text-align:center;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desk)
                    </td>
                    <td>
                        @Html.ActionLink("Change", "ChangeDesks", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>