
@{
    ViewBag.Title = "Backoffice";
}

<div class="container">
    <h2>Backoffice</h2>
    <ul class="nav flex-column" style="width: 30%; font-size:large;">
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Desks">Desks<span style="float:right" class="fas fa-address-card"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Newbusiness">New Business<span style="float:right" class="fas fa-business-time"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/PaymentRequest">Payment Requests<span style="float:right" class="fas fa-money-check-alt"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Trust">Trusts<span style="float:right" class="fas fa-money-bill-alt"></span></a>
        </li>
    </ul>
</div>
