@{
    ViewBag.Title = "About";
}
<br />
<div class="row" style="margin-left: auto; margin-right: auto; text-align: center;">
    <div class="col-md-4">
        <br />
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2><b>ABOUT US</b></h2>
        <br />
        <p>
            Founded as a provider of traditional commercial receivable recoveries, DCCP has expanded into a multi-solution financial services and BPO provider. DCCP creates partnerships with clients necessitating the highest degree of service and performance. With innovation and adaptability, DCCP offers a customized approach for every opportunity.
        </p>
    </div>
    <div class="col-md-4">
        <br />
        <p>
        </p>
    </div>
</div>
<hr>
<div class="row" style="margin-left: auto; margin-right: auto; text-align: left;">
    <div class="col-md-6">
        <br />
        <img src="~/Images/focus.jpg" alt="address" style="width:100%">
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <h2><b>Client-Focused</b></h2>
        <br />
        <p>
            DCCP builds partnerships with our clients, providing customized solutions designed to exceed expectations and maintain exceptional customer care. D&S is unlimited in scope and capability, and will craft a solution tailored to specific needs for our clients.
        </p>
    </div>
</div>
<hr />
<div class="row" style="margin-left: auto; margin-right: auto; text-align: left;">
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <h2><b>Our Difference</b></h2>
        <br />
        <p>
            DCCP is unbound by borders – Being a global company we are not bound by technology, geography or personnel. By harnessing bleeding-edge technology, utilizing agile resources, and employing the best personnel, DCCP meets and exceeds needs for any project, any obstacle, and any opportunity, globally.
        </p>
    </div>
    <div class="col-md-6">
        <br />
        <img src="~/Images/diff.jpg" alt="address" style="width:100%">
    </div>
</div>