@{
    ViewBag.Title = "Contact";
}
<br />
<div class="row" style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2><b>CONTACT</b></h2>
</div>

    <div class="flex-container">
        <div class="box"><br /><img src="~/Images/address.png" alt="address" style="width:15%"><br /><br /><b><h3>ADDRESS</h3></b><h4>Craiova, RO</h4><br /></div>
        <div class="box"><br /><img src="~/Images/call.png" alt="call" style="width:15%"><br /><br /><b><h3>CALL US</h3></b><h4>+40 78 15 21 42</h4><br /></div>
        <div class="box"><br /><img src="~/Images/email.png" alt="email" style="width:15%"><br /><br /><b><h3>EMAIL US</h3></b><h4>dccp@contact.com</h4><br /></div>
    </div>
