@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 1096px">
        <div class="carousel-inner">
            <div class="item active">
                <img width="1096" height="571" src="/Images/banner1b.jpg">
            </div>

            <div class="item">
                <img width="1096" height="571" src="/Images/banner2.jpg">
            </div>

            <div class="item">
                <img width="1096" height="571" src="/Images/banner3.jpg">
            </div>

            <div class="item">
                <img width="1096" height="571" src="/Images/banner4.jpg">
            </div>
        </div>
    </div>
</div>

<br />

<div class="row" style="margin-left: auto; margin-right: auto; text-align: center;">
    <div class="col-md-4">
        <img src="~/Images/experience.png" alt="email" style="width:30%">
        <h4><b>EXPERIENCE</b></h4>
        <p>
            DCCP’ expertise provides a wealth of knowledge and experience, leveraged in each customized solution. Whether a small business or Fortune 100 company, D&S will scale appropriately to meet demands and exceed expectations.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/product.png" alt="email" style="width:30%">
        <h4><b>PRODUCTIVITY</b></h4>
        <p>
            DCCP harnesses bleeding-edge technology and global telecommunications, along with our signature inventory management model, to produce peak productivity and efficiency.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/results.png" alt="email" style="width:30%">
        <h4><b>RESULTS</b></h4>
        <p>
            DCCP partners with our clients to build customized solutions, specifically designed to meet all needs, maintain highest ethical approach, and produce maximum results.
        </p>
    </div>
</div>