
@{
    ViewBag.Title = "Admin";
}

<div class="container">
    <h2>Admin Panel</h2>
    <ul class="nav flex-column" style="width: 30%; font-size:large;">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Accounts">Add Accounts<span style="float:right" class="fas fa-address-card"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Clientids">Client ID's<span style="float:right" class="fas fa-project-diagram"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Logs">Logs<span style="float:right" class="fas fa-stream"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Roles">Roles<span style="float:right" class="fas fa-wrench"></span></a>
        </li>
    </ul>
</div>
