@model DigitalCallCenterPlatform.Models.AdminRolesViewModel

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<hr />
<div class="row content" style="background:white;">
    <div class="col-sm-9 text-left">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model.AdminRolesList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.ActionLink("Change", "ChangeRole", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>